<h1>Tasks</h1>

<%= @task.description %>

<div class="controls">
  <ul>
    <li><%= link_to 'Edit', edit_task_path(@task.id) %></li>
    <li><%= link_to 'Delete', @task, :method => 'delete' %></li>
  </ul>
</div>
