<div>
  <%= form_for(@project, :html => {:multipart => true}) do |p| %>
    <%= p.label :name %>
    <%= p.text_field :name, :required => true, :autofocus => true %>

<%=  p.submit %>


</div>

<% end %>
