<h1>Projects</h1>

<div>
  <% @projects.each do |project| %>
    <p><%= link_to project.name, project %></p>
  <% end %>
</div>


<div>
  <p> =============================================</p>
  <p><%= link_to "Add Project", new_project_path %></p>
</div>
