<div>
  <%= form_for(@card, :html => {:multipart => true}) do |c| %>
    <%= c.label :name %>
    <%= c.text_field :name, :required => true, :autofocus => true %>
    
    <%= c.submit %>
  <% end %>
</div>
