<h1>Cards</h1>

<div>
  <% @cards.each do |card| %>
    <p><%= link_to card.name, card %></p>
  <% end %>
</div>


<div>
  <p> =============================================</p>
  <p><%= link_to "Add Card", new_card_path %></p>
</div>
